.container {
    display: grid;
    width: 748px;
    height: 748px;
    gap: 9px;
    background-color: #000;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 20px;
}

.box-1 {
    background-color: #e72f24;
}

.box-2 {
    background-color: #f0f1ec;
    grid-column: span 3;
}

.box-3 {
    background-color: #f0f1ec;
    grid-row: span 2;
}

.box-4 {
    background-color: #f0f1ec;
    grid-column: span 2;
    grid-row: span 2;
}

.box-5 {
    background-color: #004592;
}

.box-6 {
    background-color: #f0f1ec;
    grid-row: span 2;
}

.box-7 {
    background-color: #f0f1ec;
}

.box-8 {
    background-color: #f9d01e;
}

.box-9 {
    background-color: #232629;
}
